<!DOCTYPE html>
<html>
<head>
    <title>Enter Date</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Enter Date</h1>
    <form action="/generate" method="post">
        <label for="user_date">Enter a date (YYYY-MM-DD):</label>
        <input type="date" id="user_date" name="user_date" required>
        <button type="submit">Generate Updated Dates</button>
    </form>
    <form action="/today" method="GET">
        <button type="submit">Today</button>
    </form>
</body>
</html>
