<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GATE DATE EXTENDER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>GATE DATE EXTENDER</h1>
        <div class="center">
            <form method="post">
                <label for="input_date">Enter the input date (YYYY-MM-DD):</label>
                <input type="date" id="input_date" name="input_date" required>
                <br>
                <div class="btn-group">
                    <button type="submit" class="update-btn">Update Dates</button>
                    <button type="button" class="today-btn" onclick="location.href='{{ url_for('today') }}'">Today</button>
                </div>
            </form>
        </div>
        <table class="dates-table">
            <tr>
                <th>Subs</th>
                <th>Lecture</th>
                <th>Date Range</th>
            </tr>
            {% for topic, lecture, date_range in updated_dates %}
            <tr>
                <td>{{ topic }}</td>
                <td>{{ lecture }}</td>
                <td>{{ date_range }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>
